//To define the basic layout; pulls stuff from the original portfolio project in Web 1

body{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper{
  max-width: 600px;
  margin: auto;
}

@font-face{
  font-family: mmcBold;
  src: url(https://github.com/meglybbert/portfolio/blob/master/webfontkit-20161204-001140/mmcbold-webfont.woff);
}

.header{
  background-image: url('http://i.imgur.com/CzXWk4z.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 4em;
  padding-bottom: .001em;
  border-bottom: solid black 3px;
}

h1,
p{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1{
  letter-spacing: 4px;
  text-align: center;
  font-weight: 600;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  display: inline;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  position: relative;
  width: 25%;
  top: -3px;
  text-align: center;
  font-family: "mmcBold";
  font-size: 1.4em;
}

a{
  text-decoration: none;
  color: inherit;
}

.highlight{
  border-top: solid gold 3px;
}

.nav{
  margin-bottom: 2em;
}

figure{
  margin-bottom: 4em;
}

.thumb{
  margin-bottom: 2em;
}

.about-segment,
.follow-segment,
.contact-segment{
  border-top: solid black 3px;
  margin-bottom: 2em;
}

h2{
  font-family: "mmcBold";
  font-size: 1.4em;
}

.about,
.contact,
.follow{
  width: 25%;
  text-align: center;
  border-top: solid gold 3px;
  padding-top: 1em;
  margin-top: 0;
  position: relative;
  top: -3px;
}

.about{
  left: 25%;
}

.follow{
  left: 50%;
}

.logolinks{
  display: flex;
  justify-content: center;
}

.logo{
  width: 5em;
  height: 5em;
  margin: 1em;
}

.contact{
  left: 75%;
}

p{
  padding-left: 1em;
  padding-right: 1em;
}

.email,
.number,
.location{
  text-align: center;
}

.footer{
  display: flex;
  background-color: gold;
  padding-top: .25em;
  padding-bottom: .25em;
  justify-content: center;
}

.label{
  font-family: "mmcBold";
  font-size: 1.4em;
}

@media only screen and (min-width: 1200px) {
  h1{
    font-size: 3em;
  }
  
  li{
    font-size: 1.8em;
  }
  
  .contentWrapper{
    max-width: 1200px;
    margin: auto;
  }
  
  .thumb{
    margin-bottom: 1.66666%;
    width: 32%;
    height: auto;
  }
    
  .twoWide{
    display: flex;
  }
  
  .colOne,
  .colTwo{
    width: 50%;
  }
  
  h2,
  .label{
    font-size: 1.6em;
  }
  
  .aboutContent{
    padding-right: 3em;
  }
  
  .footer{
    padding-bottom: 0;
    margin-top: 1em;
  }
}