//To define the basics; pulls css from Web 1 portfolio project
body{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header{
  background-image: url('http://i.imgur.com/CzXWk4z.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 4em;
  padding-bottom: .001em;
  border-bottom: solid black 3px;
}

h1,
p{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1{
  letter-spacing: 4px;
  text-align: center;
  font-weight: 600;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  display: inline;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  position: relative;
  width: 25%;
  top: -3px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.4em;
}

a{
  text-decoration: none;
  color: inherit;
}

.highlight{
  border-top: solid gold 3px;
}

.nav{
  margin-bottom: 1.2em;
}

.about-segment,
.follow-segment,
.contact-segment{
  border-top: solid black 3px;
  margin-bottom: 2em;
}

h2{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.4em;
}

.about,
.contact,
.follow{
  width: 25%;
  text-align: center;
  border-top: solid gold 3px;
  padding-top: 1em;
  margin-top: 0;
  position: relative;
  top: -3px;
}

.about{
  left: 25%;
}

.follow{
  left: 50%;
}

.logolinks{
  display: flex;
  justify-content: center;
}

.logo{
  width: 5em;
  height: 5em;
  margin: 1em;
}

.contact{
  left: 75%;
}

p{
  padding-left: 1em;
  padding-right: 1em;
}

.email,
.number,
.location{
  text-align: center;
}

.footer{
  display: flex;
  background-color: gold;
  padding-top: .25em;
  padding-bottom: .25em;
  justify-content: center;
}

.label{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.4em;
}


/********************
MEDIA QUERIES
*******************/
/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
	.aboutContent{
		-webkit-column-count: 2;
		-webkit-column-gap: 1.5em;
	}
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  h1{
    font-size: 3em;
  }
  
  li{
    font-size: 1.8em;
  }
  
  .contentWrapper{
    max-width: 80em;
    margin: auto;
  }

  .nav{
    margin-bottom: 1.6em;
  }
    
  .twoWide{
    display: flex;
  }
  
  .colOne,
  .colTwo{
    width: 50%;
  }
  
  h2,
  .label{
    font-size: 1.6em;
  }
  
  .aboutContent{
    padding-right: 3em;
    -webkit-column-count: 1;
  }
  
  .logo{
	  width: 4em;
	  height: 4em;
	  margin: .75em;
  }

  .footer{
    padding-bottom: 0;
    margin-top: 1em;
  }

}
